version: '3.9'

x-common-env: &common-env
  POSTGRES_URL: postgres://postgres@postgres:5432/postgres?sslmode=disable
  REDIS_ADDR: redis:6379

x-common-build: &common-build
  image: golang:latest
  working_dir: /src
  environment:
    <<: *common-env
  volumes:
  - .:/src
  - ~/go/pkg/mod/cache:/go/pkg/mod/cache

services:
  postgres:
    image: postgres:14-alpine
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  redis:
    image: redis:6.2-alpine

  build:
    <<: *common-build
    command:
    - make
    - build

  generate:
    <<: *common-build
    command:
    - make
    - generate
  
  test:
    <<: *common-build
    command:
    - make
    - test
    depends_on:
    - postgres

  lint:
    image: golangci/golangci-lint:v1.44.0
    working_dir: /src
    environment:
      GOLANGCI_LINT_CACHE: /src/.cache/golangci-lint-cache
    volumes:
    - .:/src
    command:
    - make
    - lint

  image:
    image: dcard-shortener-url:latest
    build:
      context: .
    environment:
      <<: *common-env

  shortener-api:
    image: dcard-shortener-url:latest
    environment:
      <<: *common-env
    command:
    - /cmd
    depends_on:
    - postgres
    - redis
    restart: on-failure:5
    ports:
    - 8080:8080