
name: check workflow

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.44.0

  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: cache
      uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-gocache-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-gocache-
    
    - name: test
      run: go test -v -race ./...
  