
name: check workflow

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.44.0

  test:
    runs-on: ubuntu-latest
    container: golang:1.17
    steps:
    - name: checkout
      uses: actions/checkout@v2
    
    - name: test
      run: go test -v -race ./...
  